<% content_for :page_title do %>
  <%= Spree.t(:editing_plan) %> <i class="icon-arrow-right"></i> <%= @plan.name %>
<% end %>

<% content_for :page_actions do %>
  <%= link_to_with_icon 'arrow-left', Spree.t(:back_to_resource_list, resource: Spree.t(:plan)), admin_recurring_plans_path(@recurring), class: 'btn btn-default' %>
<% end %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @plan } %>

<%= form_for @plan, :url => admin_recurring_plan_url(@recurring, @plan) do |f| %>
  <fieldset class="no-border-top">
    <%= render :partial => 'form', :locals => { :f => f } %>
    <div data-hook="buttons" class="filter-actions actions">
      <%= button Spree.t('actions.update'), 'icon-ok' %>
    </div>
  </fieldset>
<% end %>
